* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header{
    background-image: url("../img/menubg.jpg");
    background-position:center;
    width:100%;
    height:100px;
    display:flex;
}
header h1{
    font-size: 40px;
    color: #fdffeb;
    text-transform: uppercase;
    text-shadow: -1px -1px 10px #ff3300;
    padding-top:20px;
    padding-left: 10px;
}
.container{
    width:100%;
    height:50px;
    margin:auto;
    border-radius: 5px;

}

.container ul{
    list-style:none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:12px;
}
.container li{
}
.container a{
    color: #ffffff;

    text-shadow: 2px 3px 6px #ff0000;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}
.container a:hover{
    color: #fdffeb;

   text-shadow: 0px 0px 14px #3860ff;
}

.product-hot ul{
    display:flex;
    justify-content:space-between;
    list-style:none;
}
.product-hot {
    margin-left:30px;
    font-weight: bold;
    font-size: larger;
}
.products_menu{
    
    margin: auto;
    margin-top: 30px;
    border: 1px solid lightblue;
    width: 100%;
    background-color: rgb(156, 156, 156);
    border-radius: 10px;
    padding-bottom:10px;
    margin-bottom: 10px;
}
.products_menu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.products_menu li {
    color: black;
    
    list-style: none;
    
}
.product{
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    height:400px;
    width: 300px;
}
.pc-set{
    display: flex;
}
.information{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.information div{
    float:right;
}
#aboutus{
    margin-right:auto;
    padding: 10px;
    width: 100%;
    font-size:20px;
}
#aboutus div{
    width: 100%;

}
h2{
    margin-bottom: 10px;
}
#aboutus p{
    float:left;
}
#aboutus img{
    float:right;

}

#moreinfor{
    margin-top:10px;
    margin-left:auto;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size:20px;
    flex-wrap: wrap;
}

#adress{
    float:right;
    display: flex;
}
#adress img{
    float:left;
}
#adress div{
    float:right;
    width:300px
}
footer{
    background-color: orangered;
    color:white;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;

}