* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-image: url("../img/background.jpg");
}
/*header*/

header{
    background-image: url("../img/menubg.jpg");
    background-position:center;
    width:100%;
    height:100px;
    display:flex;
}
header h1{
    font-size: 40px;
    color: #fdffeb;
    text-transform: uppercase;
    text-shadow: -1px -1px 10px #ff3300;
    padding-top:20px;
    padding-left: 10px;
    background-image: none;
}
/* header menu*/
.container{
    width:100%;
    height:50px;
    margin:auto;
    border-radius: 5px;

}

.container ul{
    list-style:none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:12px;
}
.container a{
    color: #ffffff;

    text-shadow: 2px 3px 6px #ff0000;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}
.container a:hover{
    color: #fdffeb;

   text-shadow: 0px 0px 14px #3860ff;
}

/*product menu*/

.products_menu{
    margin: auto;
    margin-top: 30px;
    width: 100%;
    padding-bottom:10px;
    margin-bottom: 10px;
}
.products_menu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    word-wrap: break-word;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color:rgb(161, 163, 163);
    border: #ffffff solid 3px;
    border-radius: 5px;
  }
  

  
.products_menu li {
    color: black;
    
    list-style: none;
    
    border: 3px solid rgb(141, 141, 141);
    border-radius: 5px;
    margin: 20px 10px 20px 20px;
    
    
}

.product{
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    height:400px;
    width: 300px;
}
select,option, #pc-set{
    height: 40px;
    width: 220px;
    font-size:20px;
    font-weight: bold;
    border: #ffffff solid 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-style: none;
    background-color:rgb(161, 163, 163);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top:0px;
    margin-bottom: -3px;
    text-align: center;
    z-index: 1000;
    position: relative;
}
#pc-set{
    width: 150px;
}

/*Information*/

.information{
    color:white;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left:10px;
    margin-right:10px;
}
.information img{
    margin: 10px 10px 2px 2px;
}
.information div{
    float:right;
}
#aboutus{
    margin-right:auto;
    padding: 10px;
    width: 100%;
    font-size:20px;
}
#aboutus div{
    width: 100%;

}
#aboutus div p{
    max-width: 75%;
}
h2{
    margin-bottom: 10px;
}
#aboutus p{
    float:left;
}
#aboutus img{
    float:right;

}

#moreinfor{
    margin-top:10px;
    margin-left:auto;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size:20px;
    flex-wrap: wrap;
}
#tuvan,#address p{
    max-width: 40%;
}
#adress{
    float:right;
    display: flex;
}
#adress img{
    float:left;
}
#adress div{
    float:right;
    width:300px
}
footer{
    background-color: orangered;
    color:white;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;

}