* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-image: url("../img/background.jpg");
    
}
/*header*/

header{
    background-image: url("../img/menubg.jpg");
    background-position:center;
    width:100%;
    height:100px;
    display:flex;
}
header h1{
    font-size: 40px;
    color: #fdffeb;
    text-transform: uppercase;
    text-shadow: -1px -1px 10px #ff3300;
    padding-top:20px;
    padding-left: 10px;
    background-image: none;
}
/* header menu*/
.container{
    width:100%;
    height:100px;
    margin:auto;
    border-radius: 5px;

}

.container ul{
    list-style:none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:12px;
}
.container a{
    color: #ffffff;

    text-shadow: 2px 3px 6px #ff0000;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    transition:0.5s;
    
}
.container a:hover {
    color: #fdffeb;
    transform:rotate(-180deg);
    text-shadow: 0px 0px 14px #3860ff;
    transition: 0.5s;
}

/*product menu*/

.products_menu{
    margin: auto;
    margin-top: 30px;
    width: 100%;
    padding-bottom:10px;
    margin-bottom: 10px;
    z-index: 300;
    padding: 10px 10px 10px 10px;
    
}
.products_menu ul {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 20px;
    border: #ffffff solid 3px;
    border-radius: 5px;
    
    background-color:transparent;
  }
  
/*product items*/

.products_menu li {
    color: black;
    list-style: none;   
    align-items: center;
    min-width: 30%;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right:20px;
}

.product{
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    height:450px;
    font-size:18px;
    background-color:rgb(161, 163, 163);
    width: 300px;
    align-items: center;
    z-index: 900;
}
.product p{
    padding-top:10px;
}
.product:hover{
    position:relative;
    transform: scale(1.3);
    transition: 0.5s;
}
/*item type*/

.brands{
    display:inline-block;
    justify-content: left;
}
.brands a{
    text-decoration: none;
    color:black;
    display: block;
}
.brands div{
    
    height: 40px;
    width: 220px;
    font-size:20px;
    font-weight: bold;
    border: #ffffff solid 3px;
    background-color:rgb(161, 163, 163);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    text-align: center;
    z-index: 100;
    position:absolute;
    margin-top:-33px;
}
#current-brand{
    z-index: 500;
}
.brands:hover div{
    position:relative;
    margin-bottom:-3px;
    margin-top:-19px;
    
}
.brands:hover{
    display:flex;
}
.brands div:hover a{
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}
.brands div:hover{
    transition: 0.5s;
    background-color: rgb(0, 130, 153);
}
/*pc-set*/

#pc-set{
    height: 40px;
    width: 150px;
    font-size:20px;
    font-weight: bold;
    border: #ffffff solid 3px;
    
    background-color:rgb(161, 163, 163);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    margin-bottom: -3px;
    text-align: center;
    z-index: 100;
    position: relative;
    padding: 10px 10px 10px 10px;
}
/*more*/
.more{
    font-size:18px;
    text-align: center;
    justify-items: center;
}
.more a{
    color:white;
}
.more a:hover{
    font-weight: bold;
}
/*Information*/

.information{
    color:white;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left:10px;
    margin-right:10px;
}
.information img{
    margin: 10px 10px 2px 2px;
}
.information div{
    float:right;
}
#aboutus{
    margin-right:auto;
    padding: 10px;
    width: 100%;
    font-size:20px;
}
#aboutus div{
    width: 100%;

}
#aboutus div p{
    max-width: 75%;
}
h2{
    margin-bottom: 10px;
}
#aboutus p{
    float:left;
}
#aboutus img{
    float:right;

}

#moreinfor{
    margin-top:10px;
    margin-left:auto;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size:20px;
    flex-wrap: wrap;
}
#tuvan,#address p{
    max-width: 40%;
}
#adress{
    float:right;
    display: flex;
}
#adress img{
    float:left;
}
#adress div{
    float:right;
    width:300px
}
footer{
    background-color: orangered;
    color:white;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;

}